.container {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

@media (min-width: $mantine-breakpoint-lg) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .button {
        margin-top: 1em;
        align-self: flex-end;
    }
}
